<ng-container [ngSwitch]="reason">
  <ng-container *ngSwitchCase="RefundReason.reason1" i18n>Frequent errors or crashes</ng-container>
  <ng-container *ngSwitchCase="RefundReason.reason2" i18n>Complicated operation</ng-container>
  <ng-container *ngSwitchCase="RefundReason.reason3" i18n>High CPU usage</ng-container>
  <ng-container *ngSwitchCase="RefundReason.reason4" i18n>Many advertisements</ng-container>
  <ng-container *ngSwitchCase="RefundReason.reason5" i18n>Bad user experiences</ng-container>
  <ng-container *ngSwitchCase="RefundReason.reason6" i18n>Poor content</ng-container>
</ng-container>
