<dialog class="buy-dialog" #dialogRef>
  <dstore-close-button [dialog]="dialogRef"></dstore-close-button>
  <ng-container *ngIf="payment$ | async as order; else formRef" [ngSwitch]="order.status">
    <ng-container *ngSwitchCase="OrderStatus.OrderStatusWaiting">
      <ng-container [ngTemplateOutlet]="waitPayRef"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="OrderStatus.OrderStatusFailure">
      <ng-container [ngTemplateOutlet]="failedRef"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="OrderStatus.OrderStatusSuccess">
      <ng-container [ngTemplateOutlet]="successRef" [ngTemplateOutletContext]="{ order: order }"></ng-container>
    </ng-container>
  </ng-container>

  <!-- 1. form -->
  <ng-template #formRef>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="formField">
        <label i18n>Amount:</label>
        <div class="amount">
          {{ form.value.amount / 100 | currency: 'CNY':'symbol-narrow' }}
        </div>
      </div>
      <div>
        <label class="paymentLabel" i18n>Payment:</label>
        <br />
        <div class="payment-methods">
          <label>
            <input type="radio" name="method" formControlName="method" [value]="Payment.AliPay" />
            <img class="paymentIcon alipay" />
          </label>
        </div>
      </div>

      <button class="btn" [disabled]="form.invalid">
        <ng-container i18n>Pay Now</ng-container>
      </button>
    </form>
  </ng-template>

  <!-- 2. wait -->
  <ng-template #waitPayRef>
    <div class="wait-pay">
      <img class="wait" [style.width.rem]="4" />
      <div i18n>Processing payment, please wait...</div>
    </div>
  </ng-template>

  <!-- 3. Failed -->
  <ng-template #failedRef>
    <div class="failed">
      <div i18n>Payment failed try again!</div>
    </div>
  </ng-template>

  <!-- 3. Success -->
  <ng-template #successRef let-order="order">
    <div class="pay-success">
      <div class="success-title">
        <img class="icon" dstoreCover="icon" src="/assets/icons/ok.svg" /> <br />
        <div i18n>Payment Successful!</div>
      </div>
      <div class="order-info">
        <span i18n>Order No</span>
        <span class="order-number">{{ order.order_number }}</span>
        <span i18n>Order Time</span>
        <span>{{ order.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
        <span i18n>Payment Method</span>
        <span [ngSwitch]="order.pay_method">
          <ng-container *ngSwitchCase="Payment.AliPay" i18n>AliPay</ng-container>
          <ng-container *ngSwitchCase="Payment.WeChat" i18n>WeChat</ng-container>
          <ng-container *ngSwitchCase="Payment.PayPal" i18n>PayPal</ng-container>
        </span>
      </div>
    </div>
  </ng-template>
</dialog>
