:host {
  display: flex;
  flex-direction: column;
  //padding: 0 1rem;
  height: 100vh;
}

header {
  height: 2.77rem;
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  .tabs {
    float: left;
    height: 2.77rem;
    .tab {
      display: inline-block;
      font-size: 1.08rem;
      text-align: center;
      width: 7.69rem;
      cursor: pointer;
      height: 100%;
      line-height: 2.77rem;
      border-width: 1px;
      border-style: solid;
      border-color: var(--tab-bg-color);
      background: var(--tab-bg-color);
      //box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05), 0px 2px 0px 0px rgba(255, 255, 255, 0.15);
      &:not(:first-child) {
        margin-left: -1px;
      }
      &:first-child {
        border-top-left-radius: 0.31rem;
        border-bottom-left-radius: 0.31rem;
      }
      &:last-child {
        border-top-right-radius: 0.31rem;
        border-bottom-right-radius: 0.31rem;
      }
      &:not(.active):hover {
        background: var(--nav-bg-color);
      }
    }
    .active {
      border-color: var(--activityColor);
      color: #fff;
      background: var(--activityColor);
      &:hover {
        border-color: var(--activityColorHover);
        background: var(--activityColorHover);
      }
    }
  }
}

.installed-list {
  overflow: hidden;
  flex: 1;
}

.table_head {
  display: flex;
  height: 3.07rem;
  line-height: 3.07rem;
  padding: 0 1rem 0 1.5rem;
  background-color: var(--nav-bg-color);
  font-weight: 500;
  .th {
    &:first-child {
      flex: 4.5;
    }
    &:nth-child(2) {
      flex: 3;
    }
    &:nth-child(3) {
      flex: 2;
    }
    &:nth-child(4) {
      flex: 2;
    }
    &:nth-child(5) {
      flex: 2.3;
    }
    &:nth-child(6) {
      width: 12rem;
    }
  }
}

.installed-app {
  display: flex;
  padding: 0 1rem 0 1.5rem;
  flex: 1;
  height: 64px;
  font-size: 0.92rem;
  &>div {
    border-bottom: 1px solid var(--main-item-hr-color);
  }
  .installed-info {
    flex: 4.5;
    display: flex;
    border-bottom: none;
    .icon {
      align-self: center;
    }
    .info {
      display: flex;
      flex:1;
      width: 0;
      align-items: center;
      box-sizing: border-box;
      padding: 0 0.2rem 0 0.6rem;
      border-bottom: 1px solid var(--main-item-hr-color);
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .confirm {
    flex: 9.3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.2rem;
  }
  .removing {
    flex: 9.3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-gray);
    padding-right: 0.2rem;
    img {
      margin-right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      //content: url("/assets/images/loading.svg")
      content: url("/assets/images/loading2.gif")
    }
  }
  .score {
    width: 0;
    flex: 3;
    display: flex;
    align-items: center;
    padding-right: 0.2rem;
    span {
      margin-left: 0.5rem;
      font-weight: 500;
    }
    .score_none {
      margin-left: 0;
      color: var(--font-color-gray);
    }
  }
  .size {
    width: 0;
    flex: 2;
    display: flex;
    color: var(--font-color-gray);
    align-items: center;
    padding-right: 0.2rem;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .time {
    width: 0;
    flex: 2.3;
    display: flex;
    align-items: center;
    color: var(--font-color-gray);
    padding-right: 0.2rem;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .version {
    width: 0;
    flex: 2;
    display: flex;
    align-items: center;
    color: var(--font-color-gray);
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .control {
    width: 12rem;
    box-sizing: border-box;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    button {
      min-width: 5rem;
      padding: 0 0.6rem;
      margin-right: 0.5rem;
    }
  }
}

.paginatorContainer {
  margin-right: 1.5rem;
}