<div class="item-icon">
  <section class="item" *ngFor="let soft of list" [class.hover]="controlRef.show">
    <ng-container>
      <main>
        <img dstoreCover="icon" class="images" [src]="soft?.info?.icon" />
        <div class="info" [routerLink]="[soft.id]">
          <div class="name" [style.color]="nameColor">
            {{ soft?.info?.name }}
          </div>
          <div class="subtitle" [style.color]="subtitleColor">
            <div class="category">
              <!-- {{ slogan ? soft?.info?.slogan : (soft?.info?.category | categoryText | async) }} &nbsp; -->
              <div class="category-title" *ngIf="slogan; else elsecategory">{{ soft?.info?.slogan }}</div>
              <ng-template #elsecategory>
                <m-category-name [category]="soft?.info?.category"></m-category-name>
                <!-- {{soft?.info?.category}} -->
              </ng-template>
            </div>
            <dstore-star *ngIf="soft.stat.score_count >= 20" [rate]="soft.stat.score / 2 || 0"></dstore-star>
            <span *ngIf="soft.stat.score_count < 20" i18n></span>
          </div>
        </div>
        <div class="control">
          <dstore-control #controlRef [soft]="soft"></dstore-control>
        </div>
      </main>
    </ng-container>
  </section>
  <section class="item" *ngFor="let empty of 4 | range" [style.height]="0" [style.padding]="0"></section>
</div>
<section #loadingRef class="wait">
  <m-wait-icon #waitIcon *ngIf="wait" [wait]="wait"></m-wait-icon>
</section>
