:host {
  flex: 1;
  display: flex;
  flex-flow: column;
  .recently_content {
    padding: 0 1.5rem;
  }
}

.table_head {
  display: flex;
  height: 3.07rem;
  line-height: 3.07rem;
  background-color: var(--nav-bg-color);
  font-weight: 500;
  padding: 0 1.5rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 4fr 4fr 5fr 4fr 3fr;
}