:host {
  flex: 1;
  display: flex;
  flex-flow: column;
  .recently_content {
    padding: 0 1.5rem;
  }
}

.table_head {
  display: flex;
  height: 3.07rem;
  line-height: 3.07rem;
  background-color: var(--nav-bg-color);
  font-weight: 500;
  padding: 0 1.5rem;
  margin-top: 1rem;
  .th {
    &:first-child {
      flex: 4;
    }
    &:nth-child(2) {
      flex: 4;
    }
    &:nth-child(3) {
      flex: 5;
    }
    &:nth-child(4) {
      flex: 4;
    }
    &:nth-child(5) {
      flex: 3;
    }
  }
}