<ng-container [ngSwitch]="category">
  <ng-container *ngSwitchCase="'office'" i18n>Office</ng-container>
  <ng-container *ngSwitchCase="'development'" i18n>Development</ng-container>
  <ng-container *ngSwitchCase="'reading'" i18n>Reading</ng-container>
  <ng-container *ngSwitchCase="'graphics'" i18n>Graphics</ng-container>
  <ng-container *ngSwitchCase="'game'" i18n>Games</ng-container>
  <ng-container *ngSwitchCase="'music'" i18n>Music</ng-container>
  <ng-container *ngSwitchCase="'system'" i18n>System</ng-container>
  <ng-container *ngSwitchCase="'video'" i18n>Video</ng-container>
  <ng-container *ngSwitchCase="'chat'" i18n>Chat</ng-container>
  <ng-container *ngSwitchCase="'others'" i18n>Others</ng-container>
  <ng-container *ngSwitchCase="'internet'" i18n>Internet</ng-container>
</ng-container>
