<img class="icon" dstoreCover="icon" [routerLink]="['/app', software.id]" [src]="software.info.icon" />
<div class="title">
  <div dstoreTips class="name">{{ software.info.name?software.info.name: software.package.appName }}</div>
  <div class="size">{{ software.package.size | sizeHuman }}</div>
</div>
<div class="log">
  <div class="log_content" [ngClass]="{log_content_none:!software.info.changelog||software.info.changelog==''}">
    <ng-container *ngIf="software.info.changelog&&software.info.changelog!='';else message">
      <div class="log_context">{{software.info.changelog}}</div>
    </ng-container>
  </div>
  <ng-container *ngIf="judgeOverflow$ | async">
    <span (click)="preDetail.toggle($event,false,{x:14,y:4})" class="log_btn">
      <ng-container i18n>More</ng-container> 〉
    </span>
  </ng-container>
  <ng-template #message>
    <div class="log_context" i18n>No changelogs</div>
  </ng-template>
  <dstore-pre-detail [detail]="software.info.changelog" #preDetail>
  </dstore-pre-detail>
</div>
<div class="progress">
  <div>
    <ng-container i18n>Version:</ng-container>
    {{software.package.remoteVersion}}
  </div>
</div>
<div class="update_date">
  <div>
    <ng-container i18n>Updated Date:</ng-container>
    <span>{{software.updated_at | date:'yyyy-MM-dd' }}</span>
  </div>
</div>