@import 'theme';
:host {
  display: flex;
  flex-direction: row;
  justify-items: center;
  box-sizing: border-box;
  font-size: 0.82rem;
  width: 100%;
  height: 5.46rem;
  color: var(--font-color-gray);
  >div {
    border-bottom: 1px solid var(--main-item-hr-color);
    padding: 1rem 0.5rem;
  }
}

.icon {
  align-self: center;
  width: 3.05rem;
  height: 3.05rem;
}

.div_style {
  flex: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 0;
  >div {
    @extend .div_style;
  }
  .name {
    color: var(--font-color);
    font-size: 0.92rem;
  }
}

.log {
  flex: 1;
  word-break: break-all;
  white-space: pre-wrap;
  position: relative;
  width: 0;
  //line-height: 3.2rem;
  .log_content {
    max-height: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6rem;
    .log_context {
      white-space: pre-wrap;
    }
  }
  .log_content_none {
    width: 100%;
    text-align: center;
    line-height: 3.2rem;
  }
  .log_btn {
    color: var(--primary-color);
    position: absolute;
    background-color: var(--main-bg-color);
    right: 0;
    font-size: 0.8rem;
    font-weight: 600;
    top: 2.8rem;
    cursor: pointer;
  }
}

.progress {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 0;
  >div {
    @extend .div_style;
    line-height: 3rem;
  }
}

.update_date {
  flex: 1;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 0;
  >div {
    text-align: right;
    width: 100%;
  }
  span {
    color: var(--font-color)
  }
}