<ng-container [ngSwitch]="reason">
  <ng-container *ngSwitchCase="CommentDisableReason.CommentDisableReasonUnavailable">
    <ng-container i18n>The application is not available</ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="CommentDisableReason.CommentDisableReasonBanned">
    <ng-container i18n>You are banned</ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="CommentDisableReason.CommentDisableReasonRequired">
    <ng-container i18n>The author bans comments</ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="CommentDisableReason.CommentDisableReasonSubmitted">
    <ng-container i18n>You have posted a comment</ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="CommentDisableReason.CommentDisableReasonUnused">
    <ng-container i18n>Please post your comment after using it</ng-container>
  </ng-container>
  <ng-container *ngSwitchDefault i18n>Due to {{ reason }}, you cannot post a comment</ng-container>
</ng-container>
