<ng-container *ngIf="section$ | async as section; else $empty">
  <img class="backgroundImg" [src]="section.background_image" />
  <ng-container *ngIf="softs$ | async as softs; else $wait">
    <dstore-list [nameColor]="section.title_color" [subtitleColor]="section.subtitle_color" [list]="softs">
    </dstore-list>
  </ng-container>
</ng-container>
<ng-template #$empty let-section>
  <ng-container *ngIf="section===null">
    <div class="searchEmpty">
      <img class="tips_bg" /> <span i18n>Sorry</span>
      <div class="gray-text" i18n>The topic not found</div>
    </div>
  </ng-container>
</ng-template>
<ng-template #$wait let-soft>
  <ng-container *ngIf="soft===null">
    <div class="wait">
      <app-wait></app-wait>
    </div>
  </ng-container>
</ng-template>
