<ng-container *ngIf="sectionList$ | async as $sectionList; else $wait">
  <ng-container *ngIf="$sectionList.section;else $empty">
    <m-grid-stack [data]="$sectionList.section.dataset" [cellHeight]="40" [drag]="false">
      <ng-template let-section let-index="index">
        <section [ngSwitch]="section.type">
          <ng-container *ngIf="loadedCount >= index">
            <index-carousel *ngSwitchCase="SectionType.Carousel" [section]="section" [style.gridColumnEnd]="'span ' + 3"
              [style.gridRowEnd]="'span ' + 3" (loaded)="loaded()"></index-carousel>

            <index-cover *ngSwitchCase="SectionType.Cover" [section]="section" [style.gridColumnEnd]="'span ' + 3"
              [style.gridRowEnd]="'span ' + 3" (loaded)="loaded()"></index-cover>

            <index-phrase *ngSwitchCase="SectionType.Phrase" [style.gridColumnEnd]="'span ' + 3"
              [style.gridRowEnd]="'span ' + 3" [section]="section" (loaded)="loaded()"></index-phrase>
            <index-ranking *ngSwitchCase="SectionType.Ranking" [style.gridColumnEnd]="'span ' + section.colSpan"
              [style.gridRowEnd]="'span ' + 20" [section]="section" (loaded)="loaded()"></index-ranking>
            <index-assemble *ngSwitchCase="SectionType.Category" [style.gridColumnEnd]="'span ' + 4"
              [style.gridRowEnd]="'span ' + 1" [section]="section" (loaded)="loaded()"></index-assemble>

            <index-topic *ngSwitchCase="SectionType.Topic" [style.gridColumnEnd]="'span ' + 4"
              [style.gridRowEnd]="'span ' + 1" [section]="section" (loaded)="loaded()"></index-topic>
          </ng-container>
        </section>
      </ng-template>
    </m-grid-stack>
  </ng-container>

  <!-- <ng-container *ngFor="let section of $sectionList.section.dataset; index as $index" [ngSwitch]="section.type">
 
  </ng-container> -->
</ng-container>
<ng-template #$empty>
  <div class="wait">
    <div calss="emptyBox">
      <img class="empty" />
      <div class="emptyFont">商店是空的哦，请联系管理员上架应用</div>
    </div>

  </div>
</ng-template>
<ng-template #$wait>
  <div class="wait">
    <app-wait></app-wait>
  </div>
</ng-template>
