<dp-circle *ngIf="job$ | async as job; else controlRef" [value]="job.progress">
  <div class="circle-control" [class.disabled]="!job.cancelable"
    [class.running]="job.status !== JobStatus.paused && job.status !== JobStatus.failed" (click)="trigger($event, job)">
  </div>
</dp-circle>

<ng-template #controlRef>
  <ng-container *ngIf="package$ | async as pkg; else unavailableRef">
    <ng-container *ngIf="pkg.remoteVersion; else unavailableRef">
      <ng-container *ngIf="!pkg.upgradable; else upgradableRef">
        <button class="control" *ngIf="pkg.localVersion; else installRef" (click)="openApp($event)">
          <ng-container i18n>Open</ng-container>
        </button>
        <ng-template #installRef>
          <button class="control" *ngIf="soft.free; else priceRef" (click)="installApp($event)">
            <ng-container i18n>Install</ng-container>
          </button>
          <ng-template #priceRef>
            <ng-container *ngIf="(userAppIDs$ | async)?.includes(soft.id); else buyRef">
              <button class="control" (click)="installApp($event)">
                <ng-container i18n>Install</ng-container>
              </button>
            </ng-container>
            <ng-template #buyRef>
              <button class="control" (click)="buyApp($event); buyButtonRef.hidden = true" hidden #buyButtonRef>
                <ng-container i18n>Buy Now</ng-container>
              </button>
              <button class="control price" (click)="buyButtonRef.hidden = false" *ngIf="buyButtonRef.hidden">
                {{ soft?.pricing?.price / 100 | currency: soft?.pricing?.currency:'symbol-narrow' }}
              </button>
            </ng-template>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-template #upgradableRef>
        <button class="control" (click)="installApp($event)">
          <ng-container i18n>Update</ng-container>
        </button>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-template #unavailableRef>
    <button class="control" disabled i18n>Unavailable</button>
  </ng-template>
</ng-template>
