.score {
  position: relative;
  .font-star {
    color: transparent;
    background-clip: text !important; 
  }
  .scoreList {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    div {
      width: 0.5em;
      height: 1.5em;
    }
  }
}