:host {
  max-height: 50%;
  min-width: 22rem;
  max-width: 40%;
  display: none;
  border-radius: 0.31rem;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  position: absolute;
  padding: 1rem;
  background: var(--main-bg-color);
}

pre {
  color: var(--font-color);
  margin: 0;
  // box-sizing: border-box;
  //background: var(--main-bg-color);
}