:host {
	.commentList {
		padding-top: 1.2rem;
		.comment_title {
			font-weight: bold;
			font-size: 1.2rem;
			margin-right: 1.71rem;
		}
		.header {
			display: flex;
			padding: 1rem 0;
			margin-bottom: 2rem;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			justify-content: space-between;
			align-items: center;
		}
		.tabs {
			display: inline-block;
			span {
				color: var(--activityColor);
			}
			.tab {
				display: inline-block;
				font-size: 0.92rem;
				padding: 0 0.4rem;
				cursor: pointer;
				height: 100%;
				line-height: 2rem;
				color: var(--font-color-gray);
			}
			.active {
				color: var(--activityColor);
				&:hover {
					color: var(--activityColor);
				}
			}
		}
		.body {
			&.loading{
				.comment_item {
					opacity: 0.2;
				}
			}
			.empty {
				height: 5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				&.error {
					color: red;
				}
			}
			.comment_item {
				display: grid;
				grid-template-columns: 5rem calc(100% - 5rem);
				margin-bottom: 0.5rem;
				.img {
					img {
						width: 3rem;
						height: 3rem;
						margin-left: 1rem;
					}
				}
				.comment_context {
					border-bottom: 1px solid rgba(0,0,0,0.1);
					.comment_head {
						display: grid;
						grid-template-columns: 1fr 1fr;
						.name {
							font-size: 1.08rem;
							margin-bottom: 0.3rem;
							.my_tag {
								display: inline-block;
								padding: 0 0.4rem;
								margin-left: 0.5rem;
								font-size: 1rem;
								line-height: 1.8rem;
								color: var(--activityColor);
								border-radius: 0.3rem;
								border: solid 1px var(--activityColor);
							}
						}
						.star {
							line-height: 1.4rem;
							display: flex;
							align-items: center;
							dstore-star {
								display: inline-block;
								font-size: 1.2rem;
							}
							span {
								margin-left: 0.5rem;
								font-size: 1.2rem;
							}
						}
						.time {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							color: var(--font-color-gray);
						}
					}
					.comment_body {
						padding: 0.5rem 0;
						min-height: 2rem;
						overflow: hidden;
						word-wrap: break-word;
						user-select: text;
						display: -webkit-box;
						-webkit-line-clamp: 8;
						-webkit-box-orient: vertical;
					}
					.comment_reply {
						padding: 0.3rem;
						background-color: var(--nav-bg-color);
						.reply-head {
							color: var(--font-color-gray);
							margin-right: 0.5rem;
						}
						.replay-content {
							word-break: break-all;
						}
					}
					.comment_bottom {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.like {
							text-align: right;
							padding: 1rem 0;
							display: flex;
							align-items: center;
							color: var(--font-color-gray);
							.thumbUp {
								width: 1rem;
								height: 1rem;
								margin-right: 0.3rem;
								content: url('/assets/buttons/thumbup_normal.svg');
								&:hover {
									content: url('/assets/buttons/thumbup_hover.svg');
								}
								&.active {
									content: url('/assets/buttons/thumbup_hover.svg');
								}
							}
						}
					}
				}
			}
		}
		.bottom {
			display: flex;
			padding: 0.5rem 0;
			justify-content: space-between;
			align-items: center;
		}
	}
}