Source: deepin-app-store-web
Maintainer: Deepin Packages Builder <packages@deepin.com>
Section: admin
Priority: optional
Build-Depends:
 ca-certificates,
 cmake,
 debhelper (>= 9),
 npm,
 nodejs-bin (>=10) [amd64] | nodejs (>=10) [amd64] | node (>=10) [amd64],
 git
Standards-Version: 3.9.5
Homepage: https://www.deepin.com

Package: deepin-app-store-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 deepin-app-store (>=5.6.3.9)
Description: A beautiful and easy-to-use application store website.
 Deepin App Store Web is the front-end part of Deepin App Store client.
 Power by Angular Library.
