#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@  --parallel

override_dh_auto_build:
ifneq (,$(wildcard .git/config))
	git submodule update --init --recursive
	git submodule update --remote
else
	git clone -b deepin-app-store https://gitlab.deepin.io/web-public/vendor-deps.git --depth 1
endif
	dh_auto_build
