.layer_background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  transition: opacity 0.5s;
  position: fixed;
  display: none;
}

.layer_content {
  width: 29.23rem;
  height: 11rem;
  transition: all 0.3s;
  margin-top: -5rem;
  opacity: 0;
  box-shadow: 0rem 0.15rem 1.54rem 0rem var(--main-item-bg-color-hover);
  border-radius: 1.23rem;
  background-color: var(--main-bg-color);
  display: flex;
  flex-flow: column;
  header {
    height: 4rem;
    box-sizing: border-box;
    padding: 0 0.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 1.1rem;
      line-height: 4rem;
    }
    .close {
      font-size: 1.2rem;
      line-height: 3rem;
      cursor: pointer;
      &:hover {
        color: var(--nav-bg-color-active);
      }
    }
  }
  section {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
  }
  footer {
    height: 4.4rem;
    box-sizing: border-box;
    padding: 0 1rem;
    .button_group {
      display: flex;
      height: 100%;
      justify-content: space-between;
		  align-items: center;
    }
  }
}

.show {
  display: block;
  opacity: 1;
  margin-top: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .layer_content {
    opacity: 1;
  }
}
