<div #commentRef></div>
<ng-container *ngFor="let info of [info$ | async]">
  <div [hidden]="!supportSignIn">
    <div class="commentInput" [formGroup]="commentGroup">
      <div class="title">
        <ng-container *ngIf="!info; else logged">
          <span i18n>Please post your comment after sign in</span>
          <a (click)="register()" i18n>Sign Up</a>
        </ng-container>
        <ng-template #logged>
          <ng-container *ngIf="own; else starEdit">
            <span class="star">
              <div i18n>Your Rating:</div>
              <dstore-star [rate]="own.score"></dstore-star>
              <div>{{ own.score }}</div>
            </span>
          </ng-container>
          <ng-template #starEdit>
            <span class="star">
              <div i18n>Rate this app:</div>
              <dstore-star formControlName="score" #$star [readonly]="disableStatus.disable"></dstore-star>
              <div>{{ $star.rateHover }}</div>
            </span>
          </ng-template>

          <span class="myInfo" (click)="$dropMenu.hidden = false; $dropMenu.focus()">
            <span class="name">{{ info.nickname }}</span>
          <div class="dropdown-menu" tabindex="-1" #$dropMenu hidden (blur)="$dropMenu.hidden = true">
            <a (click)="logout()" i18n>Sign Out</a>
          </div>
          <img [src]="info.profile_image" class="profile min" />
          </span>
        </ng-template>
      </div>

      <div class="edit">
        <div class="tags" *ngIf="tags.length > 0; else tagSelectRef">
          <label for="" i18n>Tags:</label>
          <span *ngFor="let control of tags.controls; index as index" (click)="tags.removeAt(index)">
            {{ control.value.tag }}
          </span>
        </div>
        <ng-template #tagSelectRef>
          <div class="tag-select" *ngIf="content.value === '#'">
            <label for="" i18n>Comment Tag</label>
            <ng-container *ngFor="let kv of { bug: 'Bug' } | keyvalue; first as first">
              <button [mAuthfocus]="first" (click)="selectTag(kv.key); commentTextRef.focus()">{{ kv.value }}</button>
            </ng-container>
          </div>
        </ng-template>

        <textarea #commentTextRef [readOnly]="!info || own || disableStatus.disable" formControlName="content" (keyup.control.enter)="submitComment()" maxlength="200"></textarea>
      </div>

      <div class="fixed">
        <button class="loginBtn" *ngIf="!info; else loggedMsg" (click)="login()">
          <ng-container i18n>Sign In</ng-container>
        </button>
        <ng-template #loggedMsg>
          <div class="placeholder" *ngIf="own; else disableStatusRef">
            <ng-container i18n>You have posted a comment</ng-container>
          </div>
          <ng-template #disableStatusRef>
            <div *ngIf="disableStatus.disable; else pleaseRef">
              <m-comment-disable-reason-text [reason]="disableStatus.reason"></m-comment-disable-reason-text>
            </div>
          </ng-template>
          <ng-template #pleaseRef>
            <div class="placeholder" [hidden]="commentGroup.value.content">
              <ng-container i18n>Post your comment here</ng-container>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div class="submit" *ngIf="info">
      <span class="errorGroup" *ngIf="submitted.touched && commentGroup.invalid" [ngSwitch]="true">
        <span class="submitError" *ngSwitchCase="content.invalid && score.invalid">
          <ng-container i18n>Please rate and post your comment</ng-container>
        </span>
      <span class="submitError" *ngSwitchCase="content.invalid" i18n>Please input your comment</span>
      <span class="submitError" *ngSwitchCase="score.invalid" i18n>Please rate</span>
      <span class="submitError" *ngSwitchCase="submitted.invalid" i18n>Failed to submit</span>
      <span class="submitError" *ngSwitchCase="commentGroup.controls['app_version'].invalid">
          <ng-container i18n>The application is not available</ng-container>
        </span>
      <span class="submitError" *ngSwitchCase="commentGroup.invalid" i18n>Network error</span>
      </span>
      &nbsp;
      <button class="submitBtn" [disabled]="!info || own || disableStatus.disable" (click)="submitComment()">
        <ng-container i18n>Submit</ng-container>
      </button>
    </div>
  </div>
  <br />

  <div class="commentList">
    <div class="header">
      <div [ngClass]="appVersion ? 'select' : 'selectAlone'">
        <ng-container i18n>User Comments</ng-container>
        &nbsp;

        <button *ngIf="appVersion" [class.active]="select === CommentType.News" (click)="selectChange(CommentType.News)">
          <ng-container i18n>Current Version</ng-container>
          ({{ total[CommentType.News] }})
        </button>
        <button [class.active]="select === CommentType.History" (click)="selectChange(CommentType.History)">
          <ng-container i18n>History Versions</ng-container>
          ({{ total[CommentType.History] }})
        </button>
        <!-- <button [class.active]="select === CommentType.History" (click)="selectChange(CommentType.History)">
          <ng-container i18n>History Versions</ng-container>
          ({{ total[CommentType.History] }})
        </button> -->
      </div>
      <div class="paginator" *ngIf="total[select] > page.size">
        <app-paginator [length]="total[select]" [size]="page.size" [pageIndex]="page.index" (pageIndexChange)="pageChange($event)"></app-paginator>
      </div>
    </div>
    <br />
    <div class="body" *ngIf="!loading; else loadWait">
      <ng-container [ngSwitch]="true">
        <div class="empty error" *ngSwitchCase="!list">
          <ng-container i18n>Failed to load comments</ng-container>
        </div>
        <div class="empty" *ngSwitchCase="list && list.length === 0">
          <ng-container i18n>No user comments available</ng-container>
        </div>
        <ng-container *ngSwitchCase="list && list.length > 0">
          <table class="list">
            <ng-container *ngFor="let c of list; index as $index; first as first">
              <tr [@myComment]="haveNewComment && first && c.commenter === info?.uid ? 'in' : ''">
                <td rowspan="2">
                  <div class="head" *ngIf="c.commenterInfo as info; else deepinInfoDefault">
                    <ng-container *ngIf="info.uid; else deletedRef">
                      <img [src]="info.profile_image" #avatarRef (error)="avatarRef.src = '/assets/images/default_avatar.jpeg?default'" class="profile" />
                      <span>{{ info.nickname }}</span>
                    </ng-container>
                    <ng-template #deletedRef>
                      <img [src]="'/assets/images/default_avatar.jpeg?default'" class="profile" />
                      <span i18n>[Closed Account]</span>
                    </ng-template>
                  </div>
                  <ng-template #deepinInfoDefault>
                    <div class="head">
                      <img src="/assets/images/default_avatar.jpeg" class="profile default" />
                      <span>&nbsp;</span>
                    </div>
                  </ng-template>
                </td>
                <td>
                  <div class="top">
                    <div class="rate">
                      <dstore-star [rate]="c.score"></dstore-star>
                      &nbsp;
                      <span [style.color]="'red'">{{ c.score }}</span> &nbsp;
                      <img src="/assets/icons/hot.svg" *ngIf="c.isHot" />
                    </div>
                    <div class="right">
                      <div class="time">
                        {{ c.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}
                      </div>
                      &nbsp;&nbsp;
                      <div class="like">
                        <span [class.hidden]="c.likes?.length <= 0">&#40;{{c.likes?.length||0}}&#41;</span>
                        <img class="thumbUp" [class.hidden]="c.commenter == info?.uid" [class.active]="likeByMe(c.likes, info?.uid)" (click)="thumbUpClick(c)" />
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="content">{{ c.content }}</div>
                  <div class="reply" *ngIf="c.reply">
                    <span class="reply-head" i18n> [Developer reply]</span>
                    <span class="replay-content">{{ c.reply.context }}</span>
                  </div>
                </td>
              </tr>
            </ng-container>
          </table>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #loadWait>
      <app-wait></app-wait>
    </ng-template>
  </div>

  <div class="bottom" *ngIf="!loading">
    <a (click)="scrollToTop()" i18n>Back to top</a>
    <app-paginator *ngIf="total[select] > page.size" [pageIndex]="page.index" [length]="total[select]" [size]="page.size" (pageIndexChange)="pageChange($event)"></app-paginator>
  </div>
</ng-container>

<ng-container *ngIf="clean$ | async"></ng-container>