<ng-container *ngFor="let info of [info$ | async]">
  <ng-container *ngIf="!own && supportSignIn">
    <div class="comment_title">
      <div i18n>My Comment</div>
      <div (click)="dstoreLayer.show()" *ngIf="info">
        <span class="comment_question">?</span>
        <ng-container i18n>Report a bug</ng-container>
      </div>
    </div>
    <div class="comment-body">
      <div class="cover">
        <img [src]="info?.profile_image" #avatarRef
          (error)="avatarRef.src = '/assets/images/default_avatar.jpeg?default'" class="profile" />
      </div>
      <div class="comment-info" [formGroup]="commentGroup">
        <div>
          <ng-container i18n>Rating:</ng-container>
        </div>
        <div class="star">
          <dstore-star formControlName="score" [readonly]="disableStatus.disable" #$star></dstore-star>
          <div>{{ $star.rateHover }}</div>
        </div>
        <div i18n>Comment:</div>
        <div style="position: relative;">
          <textarea #commentTextRef [readOnly]="!info||own || disableStatus.disable" formControlName="content"
            (keyup.control.enter)="submitComment()" maxlength="200"></textarea>
          <div class="text_count">
            {{content.value.length}}/200
          </div>
          <div class="fixed">
            <ng-container *ngIf="!info; else loggedMsg">
              <div class="placeholder">
                <span i18n>Please post your comment after</span>&nbsp;
                <span class="login" (click)="login()" i18n>Sign in</span>
              </div>
            </ng-container>
            <ng-template #loggedMsg>
              <div *ngIf="disableStatus.disable; else pleaseRef">
                <m-comment-disable-reason-text [reason]="disableStatus.reason"></m-comment-disable-reason-text>
              </div>
              <ng-template #pleaseRef>
                <div class="placeholder" [hidden]="commentGroup.value.content">
                  <ng-container i18n>Post your comment here</ng-container>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="submit" *ngIf="info">
      <span class="errorGroup" *ngIf="submitted.touched && commentGroup.invalid" [ngSwitch]="true">
        <span class="submitError" *ngSwitchCase="content.invalid && score.invalid">
          <ng-container i18n>Please rate and post your comment</ng-container>
        </span>
        <span class="submitError" *ngSwitchCase="content.invalid" i18n>Please input your comment</span>
        <span class="submitError" *ngSwitchCase="score.invalid" i18n>Please rate</span>
        <span class="submitError" *ngSwitchCase="submitted.invalid" i18n>Failed to submit</span>
        <span class="submitError" *ngSwitchCase="commentGroup.controls['app_version'].invalid">
          <ng-container i18n>The application is not available</ng-container>
        </span>
        <span class="submitError" *ngSwitchCase="commentGroup.invalid" i18n>Network error</span>
      </span>
      &nbsp;
      <button class="submitBtn" [disabled]="!info || own || disableStatus.disable" (click)="submitComment()">
        <ng-container i18n>Submit</ng-container>
      </button>
    </div>
  </ng-container>
  <dstore-comment-list #commentListRef [appID]="appID" [appVersion]="appVersion" [info]="info"></dstore-comment-list>
</ng-container>

<dstore-layer #dstoreLayer [outer]="false" [main]="true">
  <ng-container class="layer_content">
    <header>
      <div class="img">
        <img />
      </div>
      <div (click)="dstoreLayer.close()" class="close">×</div>
    </header>
    <section class="body" [formGroup]="commentLayerGroup">
      <h3 i18n>Report a bug</h3>
      <div class="star">
        <span class="rating" i18n>Rating:</span>
        <dstore-star formControlName="score" [readonly]="disableStatus.disable" #$star></dstore-star>
        <div>{{ $star.rateHover }}</div>
      </div>
      <textarea formControlName="content" i18n-placeholder
        placeholder="Give details of the bug, and describe your working steps please" maxlength="200"></textarea>
      <div class="text_count">
        {{layer_content.value.length}}/200
      </div>
    </section>
    <span class="errorGroup" *ngIf="layer_submitted.touched && commentLayerGroup.invalid" [ngSwitch]="true">
      <span class="submitError" *ngSwitchCase="layer_content.invalid && layer_score.invalid">
        <ng-container i18n>Please rate and post your comment</ng-container>
      </span>
      <span class="submitError" *ngSwitchCase="layer_content.invalid" i18n>Please input your comment</span>
      <span class="submitError" *ngSwitchCase="layer_score.invalid" i18n>Please rate</span>
      <span class="submitError" *ngSwitchCase="layer_submitted.invalid" i18n>Failed to submit</span>
      <span class="submitError" *ngSwitchCase="commentGroup.controls['app_version'].invalid">
        <ng-container i18n>The application is not available</ng-container>
      </span>
      <span class="submitError" *ngSwitchCase="commentGroup.invalid" i18n>Network error</span>
    </span>
    <footer>
      <div>
        <button class="default" (click)="dstoreLayer.close()" i18n>Cancel</button>
      </div>
      <div class="line"></div>
      <div>
        <button (click)="bugSubmit(dstoreLayer);" i18n>Submit</button>
      </div>
    </footer>
  </ng-container>
</dstore-layer>