<!-- <ng-container *ngIf="model.open"> -->
<dialog #dialog>
  <dstore-close-button [dialog]="dialog"></dstore-close-button>
  <dstore-scrollbar class="private">
    <div class="select" (click)="click($event)">
      <a href=""></a>
      <ng-container *ngIf="private$ | async as private;else $wait ">
        <div [innerHTML]="private"> </div>
      </ng-container>
    </div>
  </dstore-scrollbar>
</dialog>
<!-- </ng-container> -->
<ng-template #$wait>
  <div class="wait">
    <app-wait></app-wait>
  </div>
</ng-template>
