@import 'theme';
:host {
  display: flex;
  flex-direction: row;
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 5.46rem;
  font-size: 0.82rem;
  color: var(--font-color-gray);
  >div {
    border-bottom: 1px solid var(--main-item-hr-color);
    padding: 0.5rem 0.5rem 0 0;
  }

  .icon {
    align-self: center;
    width: 3.05rem;
    height: 3.05rem;
  }

  .score {
    width: 0;
    flex: 5;
    display: flex;
    align-items: center;
    padding-right: 0.2rem;
    span {
      margin-left: 0.5rem;
      font-weight: 500;
      font-size: 0.875rem;
    }
    .score_text {
      color: var(--font-color)
    }
    .score_none {
      margin-left: 0;
      color: var(--font-color-gray);
    }
  }

  .div_style {
    flex: 1;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title_wrap {
    display: flex;
    flex: 4.5;
    width:0;
    padding:0;
    border-bottom: 0;
    .title {
      padding: 1rem 0 0 0.5rem;
      flex:1;
      min-width: 0;
      display: flex;
      flex-flow: column;
      border-bottom: 1px solid var(--main-item-hr-color);
      >div {
        @extend .div_style;
      }
      .name {
        color: var(--font-color);
        font-size: 0.92rem;
        >p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .log {
    flex: 5;
    //line-height: 3.2rem;
    position: relative;
    width: 0;

    .log_content {
      max-height: 100%;
      overflow: hidden;
      display: inline-block;
      line-height: 1.6rem;

      .log_context {
        white-space: pre-wrap;
      }
    }

    .log_content_none {
      width: 100%;
      height: 100%;
      .log_context {
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
      }
    }

    .log_btn {
      color: #199ff3;
      background-color: var(--main-bg-color);
      position: absolute;
      right: 0;
      font-size: 0.8rem;
      font-weight: 600;
      top: 3.8rem;
      cursor: pointer;
    }
  }

  .remote_version {
    color: var(--font-color)
  }
  .progress {
    flex: 5;
    position: relative;
    width: 0;

    my-update-progress {
      position: relative;
      top: 1rem;
    }

    .ignore {
      width: 100%;
      height: 44px;
      display: flex;
      flex-flow: column;
      align-items: center;
      position: absolute;
      z-index: -100;
      opacity: 0;
      left: 0;
      top: 13px;
      transition: opacity 0.3s;
      transition-delay: 0.15s;

      >div {
        flex: 1;
      }


      .longer {
        color: var(--nav-bg-color-active);
        cursor: pointer;
      }
    }

    .version_info {
      display: flex;
      flex-flow: column;
      height: 100%;
      opacity: 1;
      transition: opacity 0.3s;
      transition-delay: 0.15s;

      >div {
        flex: 1;
        display: flex;
        align-items: center;
      }
    }

    // 不再提示功能暂时不上线
    // &:hover {
    //   .ignore {
    //     opacity: 1;
    //   }
    //   .version_info {
    //     opacity: 0;
    //     ;
    //   }
    // }
  }

  .button {
    width: 6.5rem;
    line-height: 3.7rem;

    .plain {
      width: 6.15rem;
      height: 1.85rem;
    }

    .commit {
      min-width: 5rem;
    }

    .controlBtn {
      display: flex;
      justify-content: flex-end;

      @each $ctl in $control-button {
        .#{$ctl}Btn {
          width: 36px;
          height: 36px;
          padding: 0;
          background-size: 100% 100%;
          background-color: transparent !important;
          background-repeat: no-repeat;
          box-shadow: unset;
          background-position-x: 0, 36px, 36px, 36px;

          &:hover:enabled {
            background-image: var(--control-icon-#{$ctl});
            background-position-x: 36px, 0, 36px, 36px;
          }

          &:active:enabled {
            background-image: var(--control-icon-#{$ctl});
            background-position-x: 36px, 36px, 0, 36px;
          }

          &:disabled {
            background-image: var(--control-icon-#{$ctl});
            background-position-x: 36px, 36px, 36px, 0;
          }

          background-image: var(--control-icon-#{$ctl});
        }
      }
    }
  }
}
