.app_count {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.92rem;
  font-weight: 400;
  .app_length {
    color: var(--nav-bg-color-active);
    margin: 0 0.5rem;
  }
}

.screen-box_btn {
  font-weight: 500;
  color: var(--activityColor);
  font-size: 0.92rem;
  cursor: pointer;
  display: inline-block;
  .screenIcon {
    margin-left: 0.2rem;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-color: var(--activityColor);
    -webkit-mask: var(--screen-icon) no-repeat center;
    mask: var(--screen-icon) no-repeat center;
  }
}

.center_content {
  padding: 0 0 0 1rem;
  max-height: 18rem;
  display:flex;
  dstore-scrollbar {
    height: auto;
  }
}

.footer_content {
  border-top: 1px solid var(--tab-border-color);
  padding: 1rem;
  .btn_item {
    display: inline-block;
    width: 50%;
    text-align: center;
    button {
      padding: 0 2rem;
    }
  }
}