:host {
  display: block;
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: auto;

  .container {
    width: 100%;
    // padding: 0 1rem;
    min-height: 98%;
  }

  .full {
    width: 100%;
    padding: 0;
  }
}
