<dstore-center-title>
  <span title i18n>Remote App</span>
  <button routerLink="../local" routerLinkActive="active">
    <ng-container i18n>Local App</ng-container>
  </button>
  <button routerLink="../remote" routerLinkActive="active">
    <ng-container i18n>Remote App</ng-container>
  </button>
</dstore-center-title>
<dstore-remote-install></dstore-remote-install>

<m-refund
  *ngIf="refund"
  [remoteApp]="refund"
  (confirm)="refund = null; refresh()"
  (cancel)="refund = null; refresh()"
></m-refund>

<div class="remote-apps" *ngIf="installing$ | async as installing; else loading">
  <dstore-scrollbar>
    <ng-container *ngIf="apps$ | async as apps; else loading">
      <div class="remote-app" *ngFor="let remoteApp of apps">
        <img
          class="icon"
          dstoreCover="icon"
          [src]="remoteApp.soft.info.icon"
          [routerLink]="['/app', remoteApp.soft.id]"
        />
        <div class="content">
          <div class="info">{{ remoteApp.soft.info.name }}</div>
          <div class="time">
            <span i18n>Date installed:</span>
            {{ remoteApp.created_at | date: 'yyyy.MM.dd' }}
          </div>
          <ng-container *ngIf="(remoteApp.soft?.package)['remoteVersion']; else noVersionError">
            <div class="version"><span i18n>Version:</span> {{ remoteApp.app_version }}</div>

            <div class="control">
              <ng-container *ngIf="remoteApp.order_number">
                <ng-container *ngIf="remoteApp.can_refund; else canNotRefundRef" [ngSwitch]="remoteApp.refund_status">
                  <ng-container *ngSwitchCase="OrderStatusWaiting.OrderStatusWaiting">
                    <div class="refund-waiting" i18n>退款中</div>
                  </ng-container>

                  <ng-container *ngSwitchDefault>
                    <button class="secondary" i18n (click)="refund = remoteApp">退款</button>
                  </ng-container>
                </ng-container>
                <ng-template #canNotRefundRef>
                  <button class="secondary" i18n-title title="已超过购买两小时退款时限" disabled i18n>退款</button>
                </ng-template>
              </ng-container>
              &nbsp;
              <ng-container *ngIf="installing.includes(remoteApp.soft.name); else update">
                <button i18n disabled>Installing</button>
              </ng-container>
              <ng-template #update>
                <button *ngIf="remoteApp.soft.package.upgradable; else installedRef">
                  <ng-container i18n>Update</ng-container>
                </button>
              </ng-template>
              <ng-template #installedRef>
                <button
                  disabled
                  *ngIf="remoteApp.soft.package.localVersion != '' || installed.has(remoteApp.soft.name); else install"
                >
                  <ng-container i18n>Installed</ng-container>
                </button>
              </ng-template>
              <ng-template #install>
                <button (click)="installApp(remoteApp.soft)" i18n>Install</button>
              </ng-template>
            </div>
          </ng-container>
          <ng-template #noVersionError>
            <div class="no-version" i18n>The application is not available, please retry or give feedback</div>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </dstore-scrollbar>
</div>

<div class="paginatorContainer">
  <ng-container *ngIf="count$ | async as count">
    <app-paginator
      [count]="count"
      [pageIndex]="pageIndex$ | async"
      (pageIndexChange)="gotoPage($event)"
    ></app-paginator>
  </ng-container>
</div>

<ng-template #loading>
  <div class="loadingContainer"><app-wait></app-wait></div>
</ng-template>
