:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  dstore-remote-install {
    padding: 0 1rem;
  }
  font-size: 12px;
}

header {
  height: 2.77rem;
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  .tabs {
    float: left;
    height: 2.77rem;
    .tab {
      display: inline-block;
      font-size: 1.08rem;
      text-align: center;
      width: 7.69rem;
      cursor: pointer;
      height: 100%;
      line-height: 2.77rem;
      border-width: 1px;
      border-style: solid;
      border-color: var(--tab-bg-color);
      background: var(--tab-bg-color);
      //box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05), 0px 2px 0px 0px rgba(255, 255, 255, 0.15);
      &:not(:first-child) {
        margin-left: -1px;
      }
      &:first-child {
        border-radius: 0.31rem 0 0 0.31rem;
      }
      &:last-child {
        border-radius: 0 0.31rem 0.31rem 0;
      }
      &:not(.active):hover {
        background: var(--nav-bg-color);
      }
    }
    .active {
      border-color: #30a4f4;
      color: #fff;
      background: #30a4f4;
    }
  }
}

.remote-apps {
  flex: 1;
  overflow: hidden;
  padding: 0 1rem 1rem 1.5rem;
  .remote-app {
    .content {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      border-bottom: 1px solid var(--main-item-hr-color);
      .title_wrap {
        display: flex;
        align-items: center;
        min-width: 0;
        flex: 2;
        margin: 1rem 0;
        .right {
          flex: 1;
          min-width: 0;  
          .info {
            white-space: nowrap;
            flex: 1;           /* ADJUSTED */
            text-overflow: ellipsis;
            overflow: hidden;
            min-width: 0;
            margin-left: 1rem;
          }
        }
      }
      .score {
        flex: 1;
        display: flex;
        margin-left: 2rem;
        span {
          font-weight: 500;
        }
      }
      .score_none {
        color: gray;
      }
      .size {
        flex: 1;
      }
      .version,
      .time {
        color: gray;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .control {
        flex: 2;
        display: flex;
        justify-content: start;
        text-align: right;
        button {
          min-width: 80px;
          margin-right: 0.5rem;
        }
      }
      .no-version {
        flex: 2;
        color: red;
      }
    }
  }
}

.toolTip {
  .toolTip_content {
    display: none
  }
}

.toolTip:hover {
  .toolTip_content {
    display: block;
    width: 200px;
    height: 30px;
    z-index: 1000;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: -40px;
    left: -50px;
    font-size: 10px;
    font-family: SourceHanSansSC-Normal, SourceHanSansSC;
    font-weight: 400;
    // color: rgba(48, 48, 48, 1);
    line-height: 30px;
    text-align: center;
    transition: all 1s ease-in-out;
  }
}

.refund-waiting {
  min-width: 100px;
  text-align: center;
  color: gray;
  display: inline-block;
}

.dialog_content {
  width: 300px;
  height: 200px;
}

.paginatorContainer {
  margin-right: 1.5rem;
}


.table_head {
  display: flex;
  height: 40px;
  align-items: center;
  line-height: 40px;
  padding: 0 1rem 0 1.5rem;
  background-color: var(--nav-bg-color);
  font-size: 13px;
  font-weight: 500;
  .th {
    &:first-child {
      flex: 2;
    }
    &:nth-child(2) {
      flex: 1;
      margin-left: 2rem;
    }
    &:nth-child(3) {
      flex: 1;
    }
    &:nth-child(4) {
      flex: 1;
      // display: inline-block;
      margin-left: 0.5rem;
    }
    &:nth-child(5) {
      flex: 2;
      // display: inline-block;
      margin-left: 0.5rem;
    }
  }
}

.remote-app-wrap {
  overflow: hidden;
  flex: 1;
}
