<dialog #dialogRef>

  <dstore-close-button [dialog]="dialogRef"></dstore-close-button>
  <ng-container *ngIf="!successTip">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h3 i18n>Refund Request</h3>
      <div class="refundGrid">
        <span class="required" i18n>Detailed Reason:</span>
        <div>
          <div class="reason-select">
            <div formArrayName="reason" *ngFor="let kv of RefundReason | keyvalue; index as index">
              <m-checkbox [formControlName]="index">
                <m-refund-reason [reason]="kv.value"></m-refund-reason>
              </m-checkbox>
            </div>
          </div>
        </div>
        <span class="required" i18n>Suggestions:</span>
        <div>
          <textarea formControlName="content" maxlength="200"></textarea>
        </div>
        <div class="btn-group">
          <button type="button" class="secondary" (click)="close()" i18n>Cancel</button>
          <button [disabled]="form.invalid" i18n>Submit</button>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="successTip">
    <div class="s_contentBox">
      <div>
        <div class="s_title">
          <i></i>
          <span i18n>Submission successful</span>
        </div>
        <div class="s_content">
          <ng-container [ngTemplateOutlet]="TipContent"></ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</dialog>
<ng-template #TipContent>
  <span>
    <ng-container i18n>Your request is under review, which takes 2-3 working days.</ng-container>
    <ng-container i18n> Please wait patiently. Once approved, the refunds will be returned to the original account.</
        ng-container>
  </span>
</ng-template>
