dialog {
  width: 480px;
  height: 400px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.refundGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2rem;
  & > span {
    padding-right: 0.5rem;
    font-weight: bold;
    &:before {
      content: '*';
      color: transparent;
    }
    &.required:before {
      color: red;
    }
  }
}
.reason-select {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}
textarea {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.btn-group {
  display: flex;
  justify-content: space-around;
  grid-column-start: span 2;
}
button {
  min-width: 5rem;
  min-height: 3rem;
}
