<dialog noouter="true" #dialogRef>

  <dstore-close-button [dialog]="dialogRef"></dstore-close-button>
  <ng-container *ngIf="!successTip">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h3 i18n>Refund Request</h3>
      <div class="refundGrid">
        <span class="required" i18n>Detailed Reasons:</span>
        <div>
          <div class="reason-select">
            <div formArrayName="reason" *ngFor="let kv of RefundReason | keyvalue; index as index">
              <m-checkbox [formControlName]="index">
                <m-refund-reason [reason]="kv.value"></m-refund-reason>
              </m-checkbox>
            </div>
          </div>
        </div>
        <span class="required" i18n>Suggestions:</span>
        <div>
          <textarea formControlName="content" maxlength="200"></textarea>
        </div>
        <div class="btn-group">
          <button type="button" class="secondary" (click)="close()" i18n>Cancel</button>
          <button [disabled]="form.invalid" i18n>Submit</button>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="successTip">
    <div class="s_contentBox">
      <ng-container [ngSwitch]="refund_code.code">
        <ng-container *ngSwitchCase="RefundCode.Success">
          <div class="s_title">
            <i></i>
            <span i18n>Submission successful</span>
          </div>
          <div class="s_content">
            <ng-container [ngSwitch]="refund_code.code">
              <ng-container *ngSwitchCase="RefundCode.Success">
                <span i18n>Your refund request is approved. The refunds will be returned to the original account in 1-2 working days, please wait patiently.</span>
              </ng-container>
              <ng-container *ngSwitchCase="RefundCode.Review">
                <span>
                  <ng-container i18n>Your request is under review, which takes 2-3 working days.</ng-container>
                  <ng-container i18n> Please wait patiently. Once approved, the refunds will be returned to the original account.</ng-container>
                </span>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="RefundCode.Review">
          <div class="s_title">
            <i></i>
            <span i18n>Submission successful</span>
          </div>
          <div class="s_content">
            <ng-container [ngSwitch]="refund_code.code">
              <ng-container *ngSwitchCase="RefundCode.Success">
                <span i18n>Your refund request is approved. The refunds will be returned to the original account in 1-2 working days, please wait patiently.</span>
              </ng-container>
              <ng-container *ngSwitchCase="RefundCode.Review">
                <span>
                  <ng-container i18n>Your request is under review, which takes 2-3 working days.</ng-container>
                  <ng-container i18n> Please wait patiently. Once approved, the refunds will be returned to the original account.</ng-container>
                </span>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="s_title">
            <i class="failed"></i>
            <span i18n>Submission failed</span>
          </div>
          <div class="s_content">
            <ng-container [ngSwitch]="refund_code.code">
              <div *ngSwitchCase="RefundCode.TimeOut">
                <ng-container i18n>Two-hour refund period has expired</ng-container>
              </div>
              <div *ngSwitchCase="RefundCode.error">
                <ng-container i18n>Your order is in exception status, please deal with it first and then request a refund.</ng-container>
              </div>
              <div *ngSwitchCase="RefundCode.Reviewing">
                <ng-container i18n>your order is under refund review, no need to apply again,please wait..</ng-container>
              </div>
              <div *ngSwitchDefault>
                <span style="color:red">Error code: {{refund_code.code}}</span>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</dialog>