  <ng-container *ngIf="renewableApps$ | async as list; else loadingContainer">
    <div class="table_head">
      <div class="th" i18n>Name</div>
      <div class="th" i18n>Rating</div>
      <div class="th" i18n>Changelog</div>
      <div class="th" i18n>Version</div>
      <div class="th" i18n>Action</div>
    </div>
    <dstore-scrollbar (intersecting)="intersecting($event)">
      <div class="renewable_content">
        <ng-container *ngFor="let item of list;">
          <ng-container *ngIf="jobs$ | async as jobs; else $noJob">
            <my-updates-list-item [software]="item" [job]="jobs.get(item.package_name)"></my-updates-list-item>
          </ng-container>
          <ng-template #$noJob>
            <my-updates-list-item [software]="item" ></my-updates-list-item>
          </ng-template>
        </ng-container>
      </div>
    </dstore-scrollbar>
    <div class="app_wait" *ngIf="loading">
      <app-wait></app-wait>
    </div>
  </ng-container>
  <ng-template #loadingContainer>
    <div class="loadingContainer">
      <app-wait></app-wait>
    </div>
  </ng-template>